.find-route{

    .find-route-container{
        margin-top: 24px; 
        margin-left: 14vh;  
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 150px);
        align-items: center;
        gap: 36px;
    }
    
}