.succes{
    margin-top: 0.5rem;
    color: #fff;
    border: 1px solid #48f048;
    background-color: #48f048;
    padding: 0.3rem;
    border-radius: 10px ;
}

.error{
    margin-top: 0.5rem;
    color: #fff;
    width: 100%;
    border: 1px solid rgb(235, 92, 92);
    background-color: rgba(235, 92, 92, 0.76);
    padding: 0.3rem 4rem;
    border-radius: 10px ;
}

.message-container{
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}