.search-container{
    position: absolute;
    top: 16vh;
    left: 5%;
    background-color: #b8a8a8;
    z-index:  999;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    width: 18rem;
    padding: 0.7rem;
    border-radius: 7px;
  }